<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Seam OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Seam iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E3A94B51B89AB37009BEF07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E3CE2A51BF36D2C00C7F66D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E3CE2B41BF36F1800C7F66D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E8E26C01B7B11BD009C47EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E8E26CA1B7B11BD009C47EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EBF6B781BF37AC800A8B7C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EBF6B851BF37BCE00A8B7C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EBF6B921BF37C1100A8B7C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EBF6BC91BF3836C00A8B7C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EBF6BD21BF3836D00A8B7C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EBF6BE51BF3838700A8B7C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EBF6BEE1BF3838700A8B7C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EBF6C011BF383AD00A8B7C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EC07BF11BE6645500AAA747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
