<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CKSIncrementalStoreDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Seam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>10471BF21B389CF8007AA343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10471C0A1B389CFA007AA343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E8E25CD1B7B0932009C47EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E8E25D61B7B0933009C47EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
